services:
  backend:
    image: ghcr.io/flben233/lolicon-vps/server:latest
    restart: unless-stopped
    ports:
      - "12345:12345"
    volumes:
      - ./data:/app/data
      - type: bind
      - source: ./config.json
      - target: /app/config.json
  
  frontend:
    image: ghcr.io/flben233/lolicon-vps/frontend:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NUXT_SITE_URL=https://vps.lolicon.llc
      - NUXT_SITE_NAME=Lolicon VPS
      - NUXT_BACKEND_URL=http://backend:12345/api

  watchtower:
    image: "containrrr/watchtower:latest-dev"
    volumes:
      - "/root/.docker/config.json:/config.json"
      - "/var/run/docker.sock:/var/run/docker.sock"
    command: --interval 60
    restart: unless-stopped
    environment:
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_LABEL_ENABLE: "true"
      WATCHTOWER_NOTIFICATION_URL: "generic+http://"
      WATCHTOWER_NOTIFICATION_LOG_STDOUT: "true"
      WATCHTOWER_NOTIFICATION_REPORT: "true"
      WATCHTOWER_NOTIFICATIONS: "shoutrrr"