:root {
  --el-color-primary: #39c5bb;
  --el-color-primary-light-3: #61d1c9;
  --el-color-primary-light-5: #88dcd6;
  --el-color-primary-light-7: #b0e8e4;
  --el-color-primary-light-8: #d7f3f1;
  --el-color-primary-light-9: #ebf9f8;
  --el-color-primary-dark-2: #2e9e96;
}