# This workflow will build the frontend (Nuxt) project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Frontend

on:
  push:
    branches: [ "master" ]
    paths:
      - 'web/lolicon-vps/**'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'web/lolicon-vps/**'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  SCOPE: lolicon-vps

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Login to the container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push frontend
      uses: docker/build-push-action@v6
      with:
        context: ./web/lolicon-vps
        file: ./web/lolicon-vps/Dockerfile
        push: true
        tags: ${{ env.REGISTRY }}/${{ github.actor }}/${{ env.SCOPE }}/frontend:latest
